.table{
    height: 80%;
    width:  80%;
    margin: auto;
}

.my-error-class{
    color:red;
    font-size: 12px; 
    float: center;
  }
  .my-valid-class{
    color:rgb(70, 68, 68);
    font-size: 12px; 
    float: center;
  }


  body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

#filter{
  display: flex;
  justify-content: center;
  }
#filter > input{
  padding: 10px;
  margin: 10px;
  }

  button{
    padding: 10px;
    margin: 10px;
  }
  .container-filter > input{
    align-content: center;
    width: 400px;
  }